# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Wagtail
*wagtailcache*
*.bak

# VS Code / IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Env files (secretos)
.env
.env.*

# Docker
*.pid
